@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", serif;
  background: #0a0b0d;
  color: white;
}

.swiper-pagination-line {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #ccc;
  margin: 0 5px;
  border-radius: 2px;
  transition: background-color 0.3s;
}

.swiper-pagination-line-active {
  background-color: red;
}
